<footer class="site-footer">
    <div class="footer-links" style="text-align: center;">
        <span><i class="fa-solid fa-envelope"></i> <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></span>
        <span><i class="fa-brands fa-linkedin"></i> <a href="{{ site.author.linkedin }}">LinkedIn</a></span>
        <span><i class="fa-brands fa-github"></i> <a href="{{ site.author.github }}">GitHub</a></span>
        <span><i class="fa-solid fa-blog"></i> <a href="{{ site.author.blog }}">Blog</a> <span>|</span>
            <i class="fa-solid fa-rss"></i> <a href="{{ site.author.blog }}/feed.xml">RSS</a></span>
        <span><i class="fa-solid fa-book"></i> <a href="{{ site.author.docs }}">Docs</a> <span>|</span>
            <i class="fa-solid fa-rss"></i> <a href="{{ site.author.docs }}/feed.xml">RSS</a></span>
    </div>
</footer>