<nav class="main-nav" style="margin: 0 auto; max-width: 800px; padding: 20px 0 0 0; text-align: center;">
    <a href="{{ '/' | relative_url }}"{% if page.url == '/' %} class="active"{% endif %}><i class="fa-solid fa-house"></i> Home</a> |
    <a href="{{ site.author.blog }}"><i class="fa-solid fa-blog"></i> Blog</a> |
    <a href="{{ site.author.docs }}"><i class="fa-solid fa-book"></i> Docs</a> |
    <a href="{{ '/resume' | relative_url }}"{% if page.url contains 'resume' %} class="active"{% endif %}><i class="fa-solid fa-file-pdf"></i> Resume</a>
    <button class="theme-toggle" aria-label="Toggle dark/light mode" style="vertical-align:middle;"><i class="fa-solid fa-moon"></i></button>
</nav>